@model CouponVM
<input asp-for="SelectedAddressId" hidden />
<h1>Cart</h1>
<form method="post">
    <br />
    <div class="card shadow border-0">
        <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
            <div class="row px-4">
                <div class="col-6">
                    <h5 class="pt-2 text-white">Shopping Cart</h5>
                </div>
            </div>
        </div>
        <div class="card-body my-4">
            <div class="row"></div>
            <div class="row mb-3 pb-3">
                <div class="col-md-2 offset-md-1">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>Continue Shopping</small></a>
                </div>
                <div class="col-md-10 offset-md-1">
                    @foreach (var item in Model.ShoppingCartList)
                    {
                        <div class="row border-bottom pb-3">
                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                @if (item.Product.ProductImages != null && item.Product.ProductImages.Count() > 0)
                                {
                                    <img src="@item.Product.ProductImages.FirstOrDefault().ImageURLL" width="100" height="auto" />
                                }
                            </div>

                            <div class="col-12 col-lg-6 pt-md-3">
                                <h5 class="text-uppercase text-secondary"><strong>&nbsp;&nbsp;&nbsp;&nbsp;@item.Product.Title</strong></h5>
                            </div>
                            <div class="col-12 col-lg-5 text-center row">
                                <div class="col-3 text-md-right pt-2 pt-md-4">
                                    <h6 class="fw-semibold">@item.Price.ToString("c")<span class="text-muted">&nbsp;X&nbsp;</span>@item.Count</h6>
                                </div>
                                <div class="col-3 text-md-right pt-2 pt-md-4">
                                    @{
                                        // Calculate the difference between Price100 and Count
                                        double difference = item.Product.Price100 - item.Count;
                                    }
                                    <h6 class="fw-semibold">
                                        @difference <!-- Display the calculated difference -->
                                        <span class="text-muted">&nbsp;x&nbsp;</span> <!-- Display 'x' symbol -->
                                        only left!
                                    </h6>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-action="Plus" asp-route-cartId="@item.Id" class="btn btn-outline-primary bg-gradient py-2"><i class="bi bi-plus-square"></i></a>
                                        &nbsp;
                                        <a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-outline-primary bg-gradient py-2"><i class="bi bi-dash-square"></i></a>
                                    </div>
                                </div>
                                <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                    <a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger bg-gradient py-2"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-10 offset-md-1">
                <h1>Address</h1>
                @foreach (var item in Model.AddressList)
                {
                    <div class="row border-bottom pb-3">
                        <div class="col-12 col-lg-6 pt-md-3">
                            <label>
                                <input type="radio" name="SelectedAddressId" value="@item.Id" />
                                <strong>@item.FullName</strong><br />
                                @item.BuildingName<br />
                                @item.Area<br />
                                @item.Phonenumber<br />
                                @item.State<br />
                                @item.Postalcode<br />
                            </label>
                        </div>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Address" asp-action="EditAddress" asp-route-id="@item.Id" class="btn btn-dark"><i class="bi bi-pencil"></i>Edit</a>
                        </div>
                    </div>
                }
                <div class="col-12 col-lg-5 text-center row">
                    <div class="col-3 text-md-right pt-2 pt-md-4">
                        <a class="btn btn-primary" asp-controller="Address" asp-action="AddAddress">Add New</a>
                    </div>
                </div>
                <h1>Available coupons</h1>
                @foreach (var item in Model.couponsList)
                {
                    <button class="btn btn-secondary" asp-controller="Cart" asp-action="Discount" asp-route-id="@item.Id">@item.CouponName</button>
                }
                <div class="card-footer bg-white border-0">
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <ul class="list-group mb-4">
                                <li class="d-flex justify-content-between align-items-center">
                                    <button type="submit" class="btn btn-primary" asp-action="GetPriceDiscount">Apply Discount</button>
                                </li>
                            </ul>
                            <ul class="list-group mb-4">
                                <li class="d-flex justify-content-between align-items-center">
                                    <h5 class="text-dark fw-semibold text-uppercase">Total (USD)</h5>
                                    <h4 class="text-dark fw-bolder">@Model.OrderHeader.orderTotal.ToString("c")</h4>
                                </li>
                            </ul>
                            <ul class="list-group mb-4">
                                <li class="d-flex justify-content-between align-items-center">
                                    <h5 class="text-dark fw-semibold text-uppercase">Discounted Total (USD)</h5>
                                    <h4 class="text-dark fw-bolder">@Model.OrderHeader.orderDiscount.ToString("c")</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 offset-md-5">
                            <a asp-action="Summary" class="btn btn-primary border-0 bg-gradient w-100 py-2">Summary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
